*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
}
i{
    font-style: normal;
}
nav{
    width:100%;
    height: 77px;
    background-color: #fff;
    border-bottom: 1px solid #f4f4f4;
    position: relative;
}
nav .con{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
}
nav .title{
    margin-right: 20px;
    flex-direction: row;
    justify-content: space-between;
    display: inline;

}
.title i.icon-msnui-list-square{
    text-align: center;
    line-height: 69px;
    color:#333;
    font-size: 36px;
    display: inline;
}
.title i{
    text-align: center;
    line-height: 69px;
    color:#00A1DF;
    font-size: 30px;
    display: none;
}
.title a.heading{
    font-size: 22px;
    font-weight: 300;
    color:#555555;
    text-align: center;
    line-height: 69px;
    display:none;
    margin-right: 10px;
    cursor: pointer;
}
.title a.heading:hover{
    text-decoration: none;
}
.title .list{
    display: inline;
}
i.icon-coffee.one{
    text-align: center;
    line-height: 69px;
    color:#00A1DF;
    font-size: 30px;
    display: inline;
}
nav a.text{
    font-size:15px;
    color:#555;
    text-align: center;
    line-height: 77px;
    margin-right: 10px;
    display: none;
}
nav .container .title .daoh{
    position: absolute;
    left:0;
    top: 77px;
    z-index: 999;
    width: 100%;
    height: 0px;
    text-align: center;
    background: white;
    /*display: none;*/
    transition: 1s;
    overflow: hidden;

}
nav .container .title .daoh li{
    display: none;
}
nav .container .title .daoh li a{
    height: 0px;
    line-height: 50px;
    color: #555;
    font-size: 20px;
    transition: 1s;
    /*display: none;*/
}
nav .container .title .daoh li a:hover{
    color: #00A1DF;
}
nav a.text:hover{
    color:#00A1DF;
    text-decoration: none;
}
header .bigbox{
    width:100%;
    height:400px;
    background-image: url("../images/bg-coffee-match-hero-ac082ebe1749898dfc402423470c09b93af850d231d9ab8d3ebe3bfa884dadcd.jpg");
    background-size: 100% 150px;
    background-repeat: no-repeat;
    padding-top: 150px;

}
.bigbox .box{
    margin:0 auto;
}
.box h5{
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}
.box h3{
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    margin-top: 4px;
}
.box h6{
    font-size: 16px;
    text-align: center;
}
.box .join{
    width:100px;
    height: 40px;
    background-color: #00A1DF;
    margin: 0 auto;
}
.box .join:hover{
    background-color: #0088cc;
}
.join .text{
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
main{
    background: #F3F3F3;
}
main .container{
    text-align: center;
    padding: 45px 30px;
}
main .text{
    font-size: 32px;
    color: #BABABA;
    font-style: italic;
}
main .text-one{
    font-size: 16px;
    color:#555;
    font-weight: 200;
    font-style: italic;
}
main .ceo{
    font-size: 14px;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
    color:#555;
}
.picture .container{
    padding: 0 40px;
}
.picture .row{
    margin-top: 50px;
    margin-bottom: 50px;
}
.picture .row li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.picture .row li img{
    display: block;
    width: 100%;
    height: 100%;
}
.picture .row li h4{
    font-size: 16px;
    font-weight: bold;
}
.picture .row li p{
    text-align: center;
    font-size: 14px;
}
footer{
    border-top:1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 30px;
    width:100%;
}
ul li{
    overflow: hidden;
}
li dt{
    margin-bottom: 10px;
    margin-top: 30px;
}
li dl{
    margin-bottom: 10px;
    cursor:pointer;
}
li dl:hover{
    color:#00A1DF;
}
.end .text1{
    font-size: 14px;
    margin-left: 6px;
}
.icon i{
    font-size: 24px;
    margin-right: 15px;
    color: #555;
    cursor:pointer;
}
.end dl:nth-child(2){
    display: flex;
    flex-direction: row;
}
dl .descrition{
    margin-left: 20px;
}
dl img{
    margin-top: 6px;
}
dl .blog{
    font-weight: bold;
}
dl .linking{
    color:#00A1DF;
    cursor: pointer;
}
dl .linking:hover{
    color: #0088cc;
}
.ending{
    background: #F3F3F3;
    height:140px;
}
.ending dd{
    line-height: 70px;
}
.ending dd{
    font-size: 12px;
    text-align: center;
}
.ending dd span{
    font-size: 12px;
    margin-right: 20px;
    cursor: pointer;
}
.ending dd span:hover{
    color:#00A1DF;
}
@media screen and (min-width: 768px){
    .bigbox .box{
        margin:60px auto;
    }
    header .bigbox{
        background-size: cover;
        padding-top: 50px;
    }
    .box h5{
        text-align: left;
    }
    .box h3{
        text-align: left;
    }
    .box h6{
        text-align: left;
    }
    .box .join{
        margin-left: 0;
    }
    .picture .container{
        padding: 0 20px;
    }
}
@media screen and (min-width: 992px){
    nav a.text{
        display:inline;
    }
    nav .container .title .daoh{
        display: none;
    }
    .title i.icon-msnui-list-square{
        display:none;
    }
    .title i.icon-coffee{
        display:inline;
    }
    .title a.heading{
        display: inline;
    }
    nav i.icon-coffee.one{
        display: none;
    }
    footer .container{
        padding: 0 90px;
    }
    .end .container{
        padding: 0 80px;
    }
    .ending .container{
        padding: 0 80px;
    }
    .ending{
        height: 70px;
    }
    header .bigbox{
        background-size: cover;
        height:400px;
    }
    .bigbox .box{
        margin:50px auto;
    }
    .box h5{
        text-align: left;
    }
    .box h3{
        text-align: left;
    }
    .box h6{
        text-align: left;
    }
    .box .join{
        margin-left: 0;
    }
    main .container{
        padding: 55px 220px;
    }
    main .text-one{
        font-size: 26px;
    }
}
@media screen and (min-width: 1200px){
}